@import "./modules/input";
@import "./modules/textarea";
@import "./modules/radio";

// 内页面导航栏样式
.page-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .page-nav-operate {
    display: flex;
    align-items: center;
    .el-button {
      a {
        text-decoration: none;
        color: #fff;
      }
    }
    .el-upload {
      margin-right: 10px;
    }
  }
}